/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-top {
    max-width: 100%;
    background-color: #222933;
    background-image: url(/img/header.png);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 8%;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.header-top h3 {

    color: #fff;
    margin-top: 17px;
    font-size: 16px;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-right: 1px solid #fff;
    padding-right: 5px;
}

.header-top i {
    font-size: 27px;
    margin-top: 10px;
    color: #fff;
    float: left;
    padding-right: 3px;

}

.header-top h3 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.cargo {
    width: 90%;
    float: right;
}

.credit {
    width: 90%;
    float: left;
}

.header-top img {
    float: left;
    margin-top: 9px;
}

.header-top-green {
    max-width: 100%;
    min-height: 5%;
    background-color: #66cc66;
}

.header-position {
    max-width: 80%;
    margin: auto;
}

.header-position h6 {
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    margin-top: 1%;

}

.wp-header {
    color: #5a5a5b;
}

.header-menu {
    margin-top: 2%;
}

.header-menu .header-wp {
    background: url(/img/wp.png);
    background-position: top left;
    background-repeat: no-repeat;
    height: 25px;
}

.header-menu .header-wp a {
    color: #111;
    text-decoration: none;
}

.header-menu .header-wp a p {
    font-family: 'Montserrat', sans-serif;
    margin-left: 29px;
    font-size: 14px;
    padding-top: 8px;
    margin-top: 8px;
}

.social i {
    font-size: 22px;
}

.social {
    float: left;
    margin-top: 5px;
}

.top-menu li {
    float: left;
    padding-left: 12px;
    color: #111;
    margin-top: 3px;
}

.top-menu li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #111;
}

.header-logo {
    float: left;
}

.header-sub-menu ul li {
    border-right: 1px solid #5c5c57;

    float: left;
    width: 89px;
    text-align: center;
}

.header-sub-menu ul li a {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #5c5c57;
}

.header-sub-menu {
    display: block;
    margin-top: 88px;
}

.header-love {
    margin-top: 118px;
}

.header-love i {
    font-size: 27px;
}

.slider {
    margin-top: 25px;
}

.slider img {
    margin-top: 29px;
    width: 100%;
}

.slider-title {
    margin-top: 20px;
}

.slider-title h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #373737;
    font-size: 25px;
}

.slider-title p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #505050;
    font-size: 15px;
}

.section-sub-area {
    margin-top: 55px;
}

.section-sub-area h2 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1b;
    font-size: 24px;

}

.cizgi {
    border-bottom: 1px solid;
    padding-top: 19px;
}

.section-sub-area span {
    margin-top: 5px;
}

.product-area {
    background-color: #f4f4f4;
    width: 100%;

    margin-top: 20px;
}

.product-area img {
    width: 100%;
    margin-bottom: 15px;
}

.product-area span {
    padding: 15px;

}

.product-area p {
    color: #828282;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
    margin-bottom: 7px;
}

.product-page h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #373737;
    font-size: 25px;
    margin-top: 60px;
}

.footer-area {
    width: 100%;
    background-color: #1d1d1b;
    min-height: 100px;
    margin-top: 60px;

}

.footer-black-area {
    max-width: 86%;
    margin: auto;
    border-right: 1px solid #fff;
    margin-top: 13%;
    margin-bottom: 13px;
}

.footer-black-area i {
    color: #fff;
    text-align: left;
    float: left;
    font-size: 22px;

}

.footer-black-area p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    width: 160px;
    font-family: 'Montserrat', sans-serif;
}

.footer-sub-area {
    width: 100%;
    padding-bottom: 20px;
    background-color: #f4f4f4;

}

.footer-menu {
    border-bottom: 1px solid #111;
    padding-bottom: 27px;
}

.footer-sub-area h3 {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    border-bottom: 1px solid #111;
    padding: 5px;
    font-size: 20px;
    color: #111111;
    font-weight: bold;
    margin-top: 20px;
}

.footer-sub-area span.footer-contact {
    color: #505050;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.footer-sub-area li {
    margin-top: 18px;
}

.footer-sub-area ul li a {
    color: #505050;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.footer-sub-area ul li a:hover {
    color: #6fc16c;
    border-bottom: 1px solid #6fc16c;
}

.footer-sub-area p {
    color: #505050;
    margin-top: 18px;
}

.footer-sub-area p span {
    color: #505050;
    font-weight: 600;
}

.footer-sub-area img {
    float: right;
    padding: 10px;
}

.footer-sub-area h6 {
    color: #6fc16c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: right;
}

.footer-sub-area h6 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.footer-sub-area h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #505050;
    font-size: 18px;
}

.footer-sub-area h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #505050;
    font-size: 14px;
}

.footer-sub-area form input.newsletter {
    height: 35px;
    width: 80%;
    border: none;
    background-color: #e7e5e5;
}

.footer-sub-area form button {
    height: 35px;
    border: none;
    width: 17%;
    background-color: #505050;
}

.footer-sub-area form button i {
    color: #fff;
}

.footer-sub-area span.footer-contact {
    margin-top: 20px;
}

.footer-sub p {
    color: #5b5b5b;
    margin-top: 21px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.footer-sub {
    width: 100%;
    background-color: #c9c9c9;
    padding-top: 25px;
    padding-bottom: 20px;
}

.footer-sub i {
    font-size: 30px;
    padding: 12px;
    color: #505050;
    float: left;

}

.footer-sub ul {
    margin-top: 11px;
    float: right;
}

.footer-sub ul li {
    float: left;
    padding: 8px;
    font-size: 14px;
    border-right: 1px solid #505050;
    color: #505050;
}

.footer-sub ul li a {
    text-align: center;
    color: #505050;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.footer-sub ul li i {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    display: none;
}

.bg-light {
    background-color: #fff !important;

}

.category-menu {
    margin: 23px;
}

.category-menu h3 {
    color: #1d1d1b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.category-menu ul.category {
    border-bottom: 1px solid #505050;
}

.category-menu ul.category li {
    margin: 16px;
}

.category-menu ul.category li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #505050;
}

.category-menu ul.category-filter-checkbox li {
    margin-top: 10px;
}

.category-menu ul.category-filter-checkbox li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #505050;
    font-size: 14px;
}

#breadcrumbs {
    position: absolute;
    right: 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    top: 50%;
}

#breadcrumbs li {
    display: inline-block;
    font-size: 17px;
    margin-top: 24px;
}

.margin-top-70 {
    margin-top: 70px;
}
.ortala{margin:auto;margin-top:50px;}
.ortala h2{margin:0;color:#fff;padding-top: 90px;font-size: 52px;font-family: "trebuchet ms", sans-serif;    }
.item{background:#999;text-align: center;height:400px !important;}

@media (max-width: 1024px) {
    .header-top h3 {
        font-size: 13px;
    }

    .header-top i {
        font-size: 21px;

    }

    .header-love {
        margin-top: 112px;
        margin-left: 47px;
    }

    .social i {
        text-align: center;
        font-size: 21px;
        margin-top: 13px;
    }

    .top-menu li {
        text-align: center;
        float: none;
    }


}

@media (max-width: 768px) {
    .header-sub-menu {
        position: absolute;
        width: 100%;
        margin-top: 0px;
        margin-left: -16px;
        margin-right: -16px;
        background-color: #c8c8c8 !important;
        z-index: 1;
    }

    .header-sub-menu ul li {
        text-align: center;
        margin: auto;
        border: none;
        z-index: 1;
        color: #fff;
    }

    .header-love {
        display: none;
    }
    .top-menu {
        display: none;
    }

    .bg-light {
        margin-top: 30px;
        background-color: #c8c8c8 !important;
        height: 51px;
    }

    .top-menu ul {
        margin-bottom: 16px;
    }

    .top-menu li {
        float: none;
        margin-top: 8px;
        text-align: center;
    }

    .top-menu li a {
        color: #111;
        font-size: 16px;
    }

    .social i {
        font-size: 25px;
    }

    .logo img {
        width: 98px;
        margin-top: 15px;
    }

    .header-top {
        display: none;
    }
}

@media (max-width: 467px) {

    .header-sub-menu {
        position: absolute;
        width: 100%;
        margin-top: 0px;
        margin-left: -16px;
        margin-right: -16px;
        background-color: #c8c8c8 !important;
        z-index: 1;
    }

    .header-sub-menu ul li {
        text-align: center;
        margin: auto;
        border: none;
        z-index: 1;
        color: #fff;
    }

    .header-love {
       display: none;
    }

    .header-love p {
        text-align: center;
    }

    .header-menu {
        margin-top: 14px;
    }

    .top-menu {
        display: none;
    }

    .bg-light {
        margin-top: 30px;
        background-color: #c8c8c8 !important;
        height: 51px;
    }

    .top-menu ul {
        margin-bottom: 16px;
    }

    .top-menu li {
        float: none;
        margin-top: 8px;
        text-align: center;
    }

    .top-menu li a {
        color: #111;
        font-size: 16px;
    }

    .social i {
        font-size: 25px;
    }

    .logo img {
        width: 98px;
        margin-top: 15px;
    }

    .header-top {
        display: none;
    }
}

.clear {
    clear: both;
}